/**KSM**/
h2[data-ke-size="size26"]{
  color:blue;
  font-weight:bold;
}
blockquote[data-ke-style='style2']{
  border-radius: 4px;
  border:1px solid #e8e8e8;
  border-left: 4px solid #3db39e!important;
  background-color: #fcfcfc;
  color:#333;
}